/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Container definitions for all pipeline processes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    // ---- QC ----
    withName: 'SAMTOOLS_FLAGSTAT|SAMTOOLS_IDXSTATS|SAMTOOLS_STATS' {
        container = 'quay.io/biocontainers/samtools:1.19--h50ea8bc_0'
    }
    withName: 'RSEQC_.*' {
        container = 'quay.io/biocontainers/rseqc:5.0.3--py39hf95cd2a_0'
    }
    withName: 'PICARD_COLLECTRNASEQMETRICS' {
        container = 'quay.io/biocontainers/picard:3.1.1--hdfd78af_0'
    }
    withName: 'MULTIQC' {
        container = 'quay.io/biocontainers/multiqc:1.21--pyhdfd78af_0'
    }

    // ---- COUNTING ----
    withName: 'SUBREAD_FEATURECOUNTS' {
        container = 'quay.io/biocontainers/subread:2.0.6--he4a0461_0'
    }

    // ---- ANCESTRY ----
    withName: 'SOMALIER_EXTRACT|SOMALIER_RELATE' {
        container = 'brentp/somalier:v0.2.19'
    }
    withName: 'EXTRACT_GRAF_SNPS|MERGE_GRAF_VCFS' {
        container = 'quay.io/biocontainers/bcftools:1.19--h8b25389_0'
    }
    withName: 'GRAFANC_RUN' {
        container = 'quay.io/biocontainers/mulled-v2-1fa26d1ce03c295fe2fdcb85b62a63ae54ede994:fbf23a68e2db86ba001adac61ed83c4a3a24d23d-0'
    }
    withName: 'ANCESTRY_INFERENCE' {
        container = 'quay.io/biocontainers/mulled-v2-1fa26d1ce03c295fe2fdcb85b62a63ae54ede994:fbf23a68e2db86ba001adac61ed83c4a3a24d23d-0'
    }

    // ---- VARIANT CALLING ----
    withName: 'GATK_SPLITNCIGARREADS|GATK_BASERECALIBRATOR|GATK_APPLYBQSR|GATK_HAPLOTYPECALLER|GATK_VARIANTFILTRATION' {
        container = 'broadinstitute/gatk:4.5.0.0'
    }
    withName: 'CHASMPLUS' {
        container = 'docker://karchinlab/open-cravat:2.4.2'
    }
    withName: 'CREATE_MAF' {
        container = 'docker://biocontainers/vcf2maf:1.6.21'
    }
    withName: 'BCFTOOLS_.*' {
        container = 'quay.io/biocontainers/bcftools:1.19--h8b25389_0'
    }

    // ---- FUSIONS ----
    withName: 'FUSIONCATCHER' {
        container = 'quay.io/biocontainers/fusioncatcher:1.33--hdfd78af_5'
    }
    withName: 'ARRIBA|ARRIBA_VISUALIZATION' {
        container = 'uhrigs/arriba:2.4.0'
    }

    // ---- SPLICING ----
    withName: 'RMATS' {
        container = 'xinglab/rmats:v4.3.0'
    }
    withName: 'LEAFCUTTER_.*' {
        container = 'quay.io/biocontainers/leafcutter:0.2.9--r43hdfd78af_0'
    }
    withName: 'SPLADDER_BUILD|SPLADDER_TEST' {
        container = 'quay.io/biocontainers/spladder:3.0.4--py39hf95cd2a_0'
    }
    withName: 'BISBEE_PREP|BISBEE_PROT' {
        container = 'quay.io/biocontainers/mulled-v2-1fa26d1ce03c295fe2fdcb85b62a63ae54ede994:fbf23a68e2db86ba001adac61ed83c4a3a24d23d-0'
    }
    withName: 'BISBEE_DIFF|BISBEE_OUTLIER' {
        container = 'bioconductor/bioconductor_docker:RELEASE_3_19'
    }

    // ---- HLA TYPING ----
    withName: 'ARCASHLA_.*' {
        container = 'quay.io/biocontainers/arcas-hla:0.6.0--hdfd78af_0'
    }
    withName: 'OPTITYPE' {
        container = 'fred2/optitype:1.3.5'
    }

    // ---- TCR/BCR ----
    withName: 'TRUST4' {
        container = 'quay.io/biocontainers/trust4:1.1.0--h43eeafb_0'
    }

    // ---- R-BASED ANALYSES ----
    withName: 'NORMALIZE_COUNTS|DESEQ2_DE|LIMMA_VOOM_DE|BATCH_CORRECTION|WGCNA_ANALYSIS|PATHWAY_ENRICHMENT|GSVA_ANALYSIS|IMMUNE_DECONVOLUTION|ESTIMATE_SCORES|SENSITIVITY_ANALYSIS|PHARMACOGENOMICS|MOLECULAR_SUBTYPING|SURVIVAL_ANALYSIS|TMB_ESTIMATION' {
        container = 'bioconductor/bioconductor_docker:RELEASE_3_19'
    }

    // ---- PHARMACOGENOMICS (Extended) ----
    withName: 'OCTAD_ANALYSIS' {
        container = 'docker://bioconductor/bioconductor_docker:3.19'
    }
    withName: 'PHARMACOGX_ANALYSIS' {
        container = 'docker://bioconductor/bioconductor_docker:3.19'
    }
    withName: 'DREAM_DRUGGABILITY' {
        container = 'docker://bioconductor/bioconductor_docker:3.19'
    }
    withName: 'SIGNATURESEARCH_ANALYSIS' {
        container = 'docker://bioconductor/bioconductor_docker:3.19'
    }

    // ---- NEOANTIGEN ----
    withName: 'PVACSEQ|PVACBIND' {
        container = 'griffithlab/pvactools:4.2.0'
    }
    withName: 'NEOFUSE' {
        container = 'icbi/neofuse:1.0'
    }
    withName: 'SNAF_SPLICING_NEOANTIGENS' {
        container = 'quay.io/biocontainers/mulled-v2-1fa26d1ce03c295fe2fdcb85b62a63ae54ede994:fbf23a68e2db86ba001adac61ed83c4a3a24d23d-0'
    }
    withName: 'TELESCOPE_HERV' {
        container = 'docker://quay.io/biocontainers/telescope:1.0.3--pyh5e36f6f_0'
    }
    withName: 'HERVQUANT' {
        container = 'docker://biocontainers/hervquant:latest'
    }
    withName: 'NEOANTIGEN_BURDEN_ANALYSIS' {
        container = 'docker://rocker/tidyverse:4.3.2'
    }
    withName: 'ANTIGEN_DB_CROSSREF' {
        container = 'docker://biocontainers/pandas:1.5.3'
    }

    // ---- CNV ----
    withName: 'INFERCNV' {
        container = 'bioconductor/bioconductor_docker:RELEASE_3_19'
    }

    // ---- VALIDATION ----
    withName: 'VALIDATE_DE_CONCORDANCE|VALIDATE_SEX_CHECK|VALIDATE_EXPRESSION_OUTLIERS|VALIDATE_GENOMIC_INFLATION' {
        container = 'bioconductor/bioconductor_docker:RELEASE_3_19'
    }
    withName: 'COMPILE_VALIDATION_REPORT' {
        container = 'quay.io/biocontainers/mulled-v2-1fa26d1ce03c295fe2fdcb85b62a63ae54ede994:fbf23a68e2db86ba001adac61ed83c4a3a24d23d-0'
    }

    // ---- REPORTING / VISUALIZATION ----
    withName: 'GENERATE_REPORT|VISUALIZATION_SUMMARY|COMPILE_PIPELINE_LOG' {
        container = 'quay.io/biocontainers/mulled-v2-1fa26d1ce03c295fe2fdcb85b62a63ae54ede994:fbf23a68e2db86ba001adac61ed83c4a3a24d23d-0'
    }
}
